In [1]:
import pandas as pd
import numpy as np
import pickle
import os

os.chdir('/Users/a.kholodov/Documents/02. Personal/20. Education/50. Universities/Springboard/Springboard_git/Springboard_repo/CS2-flights-delay-REPO')


input_file_name = 'data/processed/processed_2014_2018_pre_final.pickle'
with open(input_file_name, 'rb') as in_file:
    flights = pickle.load(in_file)

In [2]:
def load_data_from(zip_file, data_file, field_type=None):
    '''
    Description
    -----------
    Load data specified as field_type from one data file from zip-archive 

    Parameters
    -----------
    zip_file - path and name of source zip-file contaning 60 csv files
    dat_faile - path and name of csv-file with data
    field_type - dictinary with fields to load and thiers relative data types

    Returns
    -----------
    DataFrame with data loaded
    '''

    # reading the file
    with zipfile.ZipFile(zip_file) as zip_source:
        with zip_source.open(data_file) as file:
            if field_type != None:
                df = pd.read_csv(file, header = 0, 
                                usecols = field_type.keys(),
                                dtype = field_type)
            else:
                df = pd.read_csv(file, header = 0, low_memory=False)

    # Converting dates and boolean        
    if 'FlightDate' in df.columns:
        df['FlightDate'] = pd.to_datetime(df['FlightDate'])
    if 'DivReachedDest' in df.columns:
        df['DivReachedDest'] = df['DivReachedDest'].fillna(0)
    if 'Cancelled' in df.columns:
        df['Cancelled'] = df['Cancelled'].astype('bool')
    if 'Diverted' in df.columns:
        df['Diverted'] = df['Diverted'].astype('bool')
    if 'DivReachedDest' in df.columns:
        df['DivReachedDest'] = df['DivReachedDest'].astype('bool')
    return df

In [3]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29871484 entries, 0 to 30144614
Data columns (total 29 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Reporting_Airline                category
 1   Flight_Number_Reporting_Airline  int16
 2   Origin                           category
 3   Dest                             category
 4   DepartureDelayGroups             category
 5   DepTimeBlk                       category
 6   ArrivalDelayGroups               category
 7   ArrTimeBlk                       category
 8   Cancelled                        bool
 9   CancellationCode                 category
 10  Diverted                         bool
 11  AirTime                          float16
 12  CarrierDelay                     float16
 13  WeatherDelay                     float16
 14  NASDelay                         float16
 15  SecurityDelay                    float16
 16  LateAircraftDelay                float16
 17  DivReachedDest                   bool
 18  DivActualElapsedTime             float16
 19  DivArrDelay                      float16
 20  CRSDepDT                         datetime64[ns]
 21  CRSArrDT                         datetime64[ns]
 22  DepDT                            datetime64[ns]
 23  ArrDT                            datetime64[ns]
 24  CRSDep_UTC                       datetime64[ns, tzutc()]
 25  CRSArr_UTC                       datetime64[ns, tzutc()]
 26  ActDep_UTC                       datetime64[ns, tzutc()]
 27  ActArr_UTC                       datetime64[ns, tzutc()]
 28  ActArrDelay                      float64
dtypes: bool(3), category(8), datetime64[ns, tzutc()](4), datetime64[ns](4), float16(8), float64(1), int16(1)
memory usage: 3.1 GB

In [4]:
pd.pivot_table(data = flights, index = ['Cancelled', 'Diverted'], columns=['DivReachedDest'], values = 'CRSDepDT', aggfunc="count", fill_value='', margins=True)

/var/folders/_s/q9nyv1gx3_70t9n320c0cb4h0000gn/T/ipykernel_64163/239027940.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pd.pivot_table(data = flights, index = ['Cancelled', 'Diverted'], columns=['DivReachedDest'], values = 'CRSDepDT', aggfunc="count", fill_value='', margins=True)

DivReachedDest         False   True       All
Cancelled Diverted
False     False     29316066         29316066
          True         11823  61619     73442
True      False       481961           481961
          True            15               15
All                 29809865  61619  29871484

In [ ]:
# t = (~flights['Cancelled']) & (~flights['Diverted'] | flights['DivReachedDest'])
actually_arrived_flights = (~flights['Cancelled'] & ~(flights['Diverted'] & ~flights['DivReachedDest']))

In [ ]:
actually_arrived_flights.sum()

29377685

In [ ]:
arrived_na_delay = flights.loc[actually_arrived_flights & flights['ActArrDelay'].isna(), ['Reporting_Airline', 'Flight_Number_Reporting_Airline', 'Origin', 'Dest', 'CRSDepDT', 
                                                          'Cancelled', 'Diverted', 'DivReachedDest', 'ActArrDelay']]

with pd.option_context('display.max_rows', 300, 'display.width', 200):
    print(arrived_na_delay)
print(len(arrived_na_delay))

         Reporting_Airline  Flight_Number_Reporting_Airline Origin Dest            CRSDepDT  Cancelled  Diverted  DivReachedDest  ActArrDelay
35061                   DL                             1641    SAT  ATL 2014-01-06 11:02:00      False      True            True          NaN
242000                  MQ                             3588    MSP  LGA 2014-01-05 17:00:00      False      True            True          NaN
354545                  AA                               24    SFO  JFK 2014-01-05 07:05:00      False      True            True          NaN
1050066                 DL                             2116    OGG  LAX 2014-03-12 22:00:00      False      True            True          NaN
1228082                 HA                                7    LAS  HNL 2014-03-24 09:05:00      False      True            True          NaN
1858790                 HA                               46    OGG  SJC 2014-04-18 12:30:00      False      True            True          NaN
1895678                 AA                              284    HNL  LAX 2014-05-25 15:00:00      False      True            True          NaN
1897261                 AA                              312    SEA  DFW 2014-05-12 09:00:00      False      True            True          NaN
1909068                 AA                             1224    SJC  DFW 2014-05-12 10:00:00      False      True            True          NaN
1922076                 AA                             2224    LAS  ORD 2014-05-12 12:25:00      False      True            True          NaN
1928989                 AA                             2431    PSP  ORD 2014-05-12 12:55:00      False      True            True          NaN
2396490                 AA                              197    SFO  ORD 2014-06-18 17:40:00      False      True            True          NaN
2405487                 AA                             1060    LAX  ORD 2014-06-18 17:40:00      False      True            True          NaN
2900628                 AA                              270    HNL  LAX 2014-07-20 07:15:00      False      True            True          NaN
2913967                 AA                             1284    RSW  DFW 2014-07-14 14:20:00      False      True            True          NaN
2923126                 AA                             1581    DFW  BDL 2014-07-02 12:45:00      False      True            True          NaN
2987023                 DL                             1196    OGG  LAX 2014-07-07 13:02:00      False      True            True          NaN
3415877                 AA                              102    HNL  DFW 2014-08-19 18:20:00      False      True            True          NaN
3420129                 AA                              254    OGG  LAX 2014-08-26 13:10:00      False      True            True          NaN
3891769                 HA                               20    HNL  SMF 2014-08-11 14:00:00      False      True            True          NaN
4406893                 AA                             1179    MIA  IAH 2014-10-13 09:50:00      False      True            True          NaN
4902644                 AA                             1393    SJU  DFW 2014-11-30 12:15:00      False      True            True          NaN
6612655                 AA                               40    DCA  ORD 2015-02-01 09:55:00      False      True            True          NaN
6621448                 AA                             1080    ORD  EGE 2015-02-22 11:45:00      False      True            True          NaN
6622227                 AA                             1051    MIA  ORD 2015-02-01 08:20:00      False      True            True          NaN
6629496                 AA                             1299    MIA  DCA 2015-02-21 09:25:00      False      True            True          NaN
6632712                 AA                             1495    DFW  EGE 2015-02-22 11:40:00      False      True            True          NaN
6633066                 AA                             1269    DFW  IAD 2015-02-14 15:05:00      False      True            True          NaN
6827573                 AA                                7    DFW  OGG 2015-03-08 12:15:00      False      True            True          NaN
6827750                 AA                               14    OGG  LAX 2015-03-30 21:48:00      False      True            True          NaN
6845038                 AA                             1196    MIA  EGE 2015-03-25 09:15:00      False      True            True          NaN
6859675                 AA                             1640    EGE  JFK 2015-03-05 08:50:00      False      True            True          NaN
7468029                 AA                               58    KOA  LAX 2015-04-18 13:10:00      False      True            True          NaN
7469737                 AA                              102    HNL  DFW 2015-04-21 20:40:00      False      True            True          NaN
7472979                 AA                              298    HNL  LAX 2015-04-08 21:13:00      False      True            True          NaN
7485282                 AA                             1278    SNA  DFW 2015-04-26 12:30:00      False      True            True          NaN
7495253                 AA                             1689    LAS  DFW 2015-04-26 16:05:00      False      True            True          NaN
8092596                 AA                             1108    DFW  LGA 2015-05-10 07:25:00      False      True            True          NaN
8110997                 AA                             1580    PHL  DFW 2015-05-10 05:26:00      False      True            True          NaN
9618671                 AA                              246    KOA  LAX 2015-08-31 21:18:00      False      True            True          NaN
9728388                 AA                             2421    STT  MIA 2015-08-16 15:52:00      False      True            True          NaN
10233246                AA                             2208    CLE  DFW 2015-10-22 19:23:00      False      True            True          NaN
10239400                AA                             2314    RNO  DFW 2015-10-22 12:04:00      False      True            True          NaN
11162229                AA                               78    SLC  DFW 2015-12-26 15:47:00      False      True            True          NaN
11168179                AA                              340    MCI  DFW 2015-12-26 14:43:00      False      True            True          NaN
11180258                AA                             1355    PDX  DFW 2015-12-26 13:50:00      False      True            True          NaN
11183537                AA                             1512    SEA  DFW 2015-12-26 13:40:00      False      True            True          NaN
11184089                AA                             1531    MTJ  DFW 2015-12-26 16:00:00      False      True            True          NaN
11184758                AA                             1568    MCI  DFW 2015-12-26 15:52:00      False      True            True          NaN
11191380                AA                             2331    ORD  DFW 2015-12-26 14:26:00      False      True            True          NaN
11191636                AA                             2339    ORD  DFW 2015-12-26 16:41:00      False      True            True          NaN
11192750                AA                             1209    SMF  DFW 2015-12-26 13:35:00      False      True            True          NaN
11195434                AA                             2506    SNA  DFW 2015-12-27 11:01:00      False      True            True          NaN
11196071                AA                             2316    PHL  DFW 2015-12-26 15:35:00      False      True            True          NaN
11278058                AA                             2526    SLC  DFW 2015-12-26 13:55:00      False      True            True          NaN
11278612                AA                             2561    EGE  MIA 2015-12-21 13:10:00      False      True            True          NaN
11643386                AA                              248    DFW  BNA 2016-01-22 07:00:00      False      True            True          NaN
11643593                AA                              256    LAX  JFK 2016-01-12 13:30:00      False      True            True          NaN
12086461                AA                                4    LAX  JFK 2016-02-24 12:30:00      False      True            True          NaN
12099920                AA                             1169    DFW  LGA 2016-02-24 10:40:00      False      True            True          NaN
12660901                AA                             1641    ATL  DFW 2016-03-24 11:07:00      False      True            True          NaN
12671807                AA                             2561    MIA  EGE 2016-03-25 10:00:00      False      True            True          NaN
13469769                AA                             1298    SNA  DFW 2016-05-31 10:54:00      False      True            True          NaN
13955626                AA                             1497    MIA  DFW 2016-06-12 14:01:00      False      True            True          NaN
13967855                AA                             2561    LAX  DFW 2016-06-12 09:55:00      False      True            True          NaN
14177994                HA                               35    PHX  HNL 2016-06-26 08:00:00      False      True            True          NaN
14416434                AA                                2    LAX  JFK 2016-07-25 09:00:00      False      True            True          NaN
14418200                AA                               82    LAX  JFK 2016-07-25 08:00:00      False      True            True          NaN
14436663                AA                             1164    SFO  DFW 2016-07-27 10:05:00      False      True            True          NaN
14671354                HA                               46    OGG  SJC 2016-07-22 11:25:00      False      True            True          NaN
14944246                AA                             1547    LAS  DFW 2016-08-19 12:10:00      False      True            True          NaN
14959110                AA                             2571    DFW  ANC 2016-08-11 15:15:00      False      True            True          NaN
15326921                DL                             2262    LAX  JFK 2016-08-14 13:50:00      False      True            True          NaN
15876282                AA                              174    DFW  RDU 2016-10-08 10:30:00      False      True            True          NaN
16348102                AA                               58    KOA  LAX 2016-11-14 15:46:00      False      True            True          NaN
16436498                AA                             1239    ORD  SEA 2016-11-26 10:25:00      False      True            True          NaN
16679557                HA                               50    HNL  JFK 2016-11-29 16:25:00      False      True            True          NaN
16797440                AA                                7    DFW  OGG 2016-12-24 09:40:00      False      True            True          NaN
16858085                AA                             2288    IND  DFW 2016-12-10 06:15:00      False      True            True          NaN
17265080                AA                             1163    EGE  JFK 2017-01-07 08:35:00      False      True            True          NaN
17283977                B6                              471    BOS  SJC 2017-01-07 17:46:00      False      True            True          NaN
17397114                AA                             2231    PSP  DFW 2017-01-15 14:13:00      False      True            True          NaN
17496956                AA                             2499    MIA  EGE 2017-01-05 09:20:00      False      True            True          NaN
17590101                AA                             1505    ONT  DFW 2017-01-15 14:24:00      False      True            True          NaN
17601135                AA                             2413    SEA  DFW 2017-01-15 13:42:00      False      True            True          NaN
17822441                AA                             2195    DFW  JAC 2017-02-07 10:35:00      False      True            True          NaN
18124285                NK                              563    ORD  SAN 2017-03-25 10:50:00      False      True            True          NaN
18429240                UA                             1147    KOA  LAX 2017-03-30 20:40:00      False      True            True          NaN
18436430                UA                              144    HNL  IAD 2017-03-12 15:45:00      False      True            True          NaN
18441211                UA                             1604    HNL  SFO 2017-03-27 11:31:00      False      True            True          NaN
18443972                UA                             1147    KOA  LAX 2017-03-25 20:45:00      False      True            True          NaN
18632942                DL                             1692    SAN  ATL 2017-04-05 11:10:00      False      True            True          NaN
18633856                DL                             2483    LAS  ATL 2017-04-05 11:11:00      False      True            True          NaN
18948325                F9                              920    MCO  TTN 2017-04-04 20:35:00      False     False           False          NaN
18982010                EV                             5328    MLI  ATL 2017-04-05 06:00:00      False      True            True          NaN
19223697                DL                             1283    HNL  LAX 2017-05-29 10:48:00      False      True            True          NaN
19814631                OO                             5842    FAT  DEN 2017-06-08 10:00:00      False      True            True          NaN
19834607                OO                             5742    BOI  ORD 2017-06-14 12:14:00      False      True            True          NaN
19854900                AA                             1305    SLC  ORD 2017-06-06 13:15:00      False      True            True          NaN
19966574                UA                             1110    OGG  LAX 2017-06-02 21:50:00      False      True            True          NaN
19967937                UA                              643    KOA  SFO 2017-06-01 12:45:00      False      True            True          NaN
20160740                AA                             2733    PHX  ORD 2017-07-12 12:25:00      False      True            True          NaN
20226488                DL                                4    LAS  JFK 2017-07-13 10:25:00      False      True            True          NaN
20293636                NK                              576    OAK  BWI 2017-07-19 16:42:00      False      True            True          NaN
20448696                AA                             1547    LAS  DFW 2017-07-08 12:55:00      False      True            True          NaN
20741073                AA                             1598    PHX  EWR 2017-08-02 08:45:00      False      True            True          NaN
20753988                AA                               12    SFO  JFK 2017-08-02 11:10:00      False      True            True          NaN
20755249                AA                               66    SFO  JFK 2017-08-02 07:20:00      False      True            True          NaN
20972845                NK                              872    OAK  ORD 2017-08-03 09:03:00      False      True            True          NaN
21098763                DL                             1546    PHX  ATL 2017-09-11 10:12:00      False      True            True          NaN
21901283                AA                              266    LIH  LAX 2017-10-23 14:24:00      False      True            True          NaN
22474971                NK                              184    LAX  CLE 2017-12-23 23:30:00      False      True            True          NaN
22516960                DL                               64    LAX  ATL 2017-12-17 09:15:00      False      True            True          NaN
22533259                DL                             1215    LAX  ATL 2017-12-17 08:00:00      False      True            True          NaN
22533440                DL                             1375    SAN  ATL 2017-12-17 08:20:00      False      True            True          NaN
22533981                DL                             1865    SFO  ATL 2017-12-17 08:00:00      False      True            True          NaN
22534458                DL                             2325    SLC  ATL 2017-12-17 09:30:00      False      True            True          NaN
22534840                DL                             2864    SEA  ATL 2017-12-17 07:45:00      False      True            True          NaN
22625471                OO                             4493    IAH  MSP 2017-12-31 15:45:00      False      True            True          NaN
22888419                UA                              238    ORD  JAC 2017-12-30 09:05:00      False      True            True          NaN
23137615                OO                             3544    CHO  ATL 2018-01-01 14:15:00      False      True            True          NaN
23315203                YV                             6262    PSP  IAH 2018-01-11 12:10:00      False      True            True          NaN
23461797                DL                              140    LAS  MSP 2018-01-22 09:15:00      False      True            True          NaN
23483807                DL                             1197    LAX  JFK 2018-01-04 12:35:00      False      True            True          NaN
23780762                YV                             5878    MEM  PHX 2018-02-20 07:20:00      False      True            True          NaN
23853994                AA                             2593    PSP  DFW 2018-02-20 12:30:00      False      True            True          NaN
23869747                AA                             1604    MIA  EGE 2018-02-10 08:40:00      False      True            True          NaN
23926939                DL                             1126    MSP  HDN 2018-02-19 11:20:00      False      True            True          NaN
24354084                AA                                2    LAX  JFK 2018-03-02 09:05:00      False      True            True          NaN
24358563                AA                              292    LAX  JFK 2018-03-02 06:00:00      False      True            True          NaN
24360355                AA                              350    ORD  LGA 2018-03-02 10:30:00      False      True            True          NaN
24361356                AA                              391    MIA  JFK 2018-03-02 13:05:00      False      True            True          NaN
24362222                AA                             1366    MIA  LGA 2018-03-02 12:25:00      False      True            True          NaN
24375735                AA                             2520    MIA  LGA 2018-03-02 09:30:00      False      True            True          NaN
24427633                AA                             2183    AUS  JFK 2018-03-02 09:15:00      False      True            True          NaN
24499418                DL                             1994    PHX  JFK 2018-03-02 07:00:00      False      True            True          NaN
24499480                DL                             2045    LAS  JFK 2018-03-02 06:30:00      False      True            True          NaN
24611361                UA                              779    SFO  EWR 2018-03-02 13:30:00      False      True            True          NaN
24992877                AA                             1542    SJC  DFW 2018-04-13 12:01:00      False      True            True          NaN

In [ ]:
flights.loc[actually_arrived_flights & flights['ActArrDelay'].isna()].index.tolist()

[35061,
 242000,
 354545,
 1050066,
 1228082,
 1858790,
 1895678,
 1897261,
 1909068,
 1922076,
 1928989,
 2396490,
 2405487,
 2900628,
 2913967,
 2923126,
 2987023,
 3415877,
 3420129,
 3891769,
 4406893,
 4902644,
 6612655,
 6621448,
 6622227,
 6629496,
 6632712,
 6633066,
 6827573,
 6827750,
 6845038,
 6859675,
 7468029,
 7469737,
 7472979,
 7485282,
 7495253,
 8092596,
 8110997,
 9618671,
 9728388,
 10233246,
 10239400,
 11162229,
 11168179,
 11180258,
 11183537,
 11184089,
 11184758,
 11191380,
 11191636,
 11192750,
 11195434,
 11196071,
 11278058,
 11278612,
 11643386,
 11643593,
 12086461,
 12099920,
 12660901,
 12671807,
 13469769,
 13955626,
 13967855,
 14177994,
 14416434,
 14418200,
 14436663,
 14671354,
 14944246,
 14959110,
 15326921,
 15876282,
 16348102,
 16436498,
 16679557,
 16797440,
 16858085,
 17265080,
 17283977,
 17397114,
 17496956,
 17590101,
 17601135,
 17822441,
 18124285,
 18429240,
 18436430,
 18441211,
 18443972,
 18632942,
 18633856,
 18948325,
 18982010,
 19223697,
 19814631,
 19834607,
 19854900,
 19966574,
 19967937,
 20160740,
 20226488,
 20293636,
 20448696,
 20741073,
 20753988,
 20755249,
 20972845,
 21098763,
 21901283,
 22474971,
 22516960,
 22533259,
 22533440,
 22533981,
 22534458,
 22534840,
 22625471,
 22888419,
 23137615,
 23315203,
 23461797,
 23483807,
 23780762,
 23853994,
 23869747,
 23926939,
 24354084,
 24358563,
 24360355,
 24361356,
 24362222,
 24375735,
 24427633,
 24499418,
 24499480,
 24611361,
 24992877,
 25358292,
 25553322,
 25565710,
 25568713,
 25578884,
 25582125,
 25582202,
 25603527,
 25616160,
 25631767,
 25655129,
 25728284,
 25796858,
 25801464,
 25801850,
 25813026,
 25829987,
 25830641,
 25830842,
 25833583,
 25944104,
 26201411,
 26220074,
 26253332,
 26266880,
 26274796,
 26342994,
 26486951,
 26686716,
 26694297,
 26880476,
 26969472,
 27125070,
 27133979,
 27148732,
 27157946,
 27168181,
 27203702,
 27207429,
 27717324,
 27902157,
 28177873,
 28313400,
 28547525,
 28758359,
 28850385,
 28966769,
 29129692,
 29250098,
 29313906,
 29394116,
 29538053,
 29544055,
 29605632,
 29609280,
 29612063,
 29621082,
 29876820,
 29877136,
 29924885,
 30016651,
 30017789,
 30017851,
 30029630,
 30051577,
 30058006,
 30066132,
 30067491,
 30070226,
 30077947,
 30079309,
 30080754,
 30080847]

In [28]:
flight_num = flights['Flight_Number_Reporting_Airline'] == 1641
airline = flights['Reporting_Airline'] == 'DL'
origin = flights['Origin'] == 'SAT'
dest = flights['Dest'] == 'ATL'
date = flights['CRSDepDT'] == '2014-01-06 11:02:00'

filter = flight_num & airline & origin & dest & date
with pd.option_context('display.max_rows', 112, 'display.width', 500):
    print(flights.loc[filter].T)

                                                     35061
Reporting_Airline                                       DL
Flight_Number_Reporting_Airline                       1641
Origin                                                 SAT
Dest                                                   ATL
DepartureDelayGroups                                     0
DepTimeBlk                                       1100-1159
ArrivalDelayGroups                                     NaN
ArrTimeBlk                                       1400-1459
Cancelled                                            False
CancellationCode                                       NaN
Diverted                                              True
AirTime                                                NaN
CarrierDelay                                           NaN
WeatherDelay                                           NaN
NASDelay                                               NaN
SecurityDelay                                          NaN
LateAircraftDelay                                      NaN
DivReachedDest                                        True
DivActualElapsedTime                                1403.0
DivArrDelay                                         1280.0
CRSDepDT                               2014-01-06 11:02:00
CRSArrDT                               2014-01-06 14:15:00
DepDT                                  2014-01-06 11:12:00
ArrDT                                  2014-01-06 11:35:00
CRSDep_UTC                       2014-01-06 17:02:00+00:00
CRSArr_UTC                       2014-01-06 19:15:00+00:00
ActDep_UTC                       2014-01-06 17:12:00+00:00
ActArr_UTC                                             NaT
ActArrDelay                                            NaN

In [9]:
import zipfile

source_zip_file = 'data/interim/csv_flight.zip'
data_file = 'csv_flight/report_2017_4.csv'

# reading the first file to evaluate the data
flights_2017_4 = load_data_from(source_zip_file, data_file)

In [10]:
# F9                              920    MCO  TTN 2017-04-04 20:35:00

flight_num = flights_2017_4['Flight_Number_Reporting_Airline'] == 920
airline = flights_2017_4['Reporting_Airline'] == 'F9'
origin = flights_2017_4['Origin'] == 'MCO'
dest = flights_2017_4['Dest'] == 'TTN'
date = flights_2017_4['FlightDate'] == '2017-04-04'

filter = flight_num & airline & origin & dest & date
with pd.option_context('display.max_rows', 112):
    print(flights_2017_4.loc[filter].T)

                                              342646
Year                                            2017
Quarter                                            2
Month                                              4
DayofMonth                                         4
DayOfWeek                                          2
FlightDate                       2017-04-04 00:00:00
Reporting_Airline                                 F9
DOT_ID_Reporting_Airline                       20436
IATA_CODE_Reporting_Airline                       F9
Tail_Number                                   N214FR
Flight_Number_Reporting_Airline                  920
OriginAirportID                                13204
OriginAirportSeqID                           1320402
OriginCityMarketID                             31454
Origin                                           MCO
OriginCityName                           Orlando, FL
OriginState                                       FL
OriginStateFips                                   12
OriginStateName                              Florida
OriginWac                                         33
DestAirportID                                  15356
DestAirportSeqID                             1535602
DestCityMarketID                               35356
Dest                                             TTN
DestCityName                             Trenton, NJ
DestState                                         NJ
DestStateFips                                     34
DestStateName                             New Jersey
DestWac                                           21
CRSDepTime                                      2035
DepTime                                       2110.0
DepDelay                                        35.0
DepDelayMinutes                                 35.0
DepDel15                                         1.0
DepartureDelayGroups                             2.0
DepTimeBlk                                 2000-2059
TaxiOut                                         25.0
WheelsOff                                     2135.0
WheelsOn                                         NaN
TaxiIn                                           NaN
CRSArrTime                                      2312
ArrTime                                          NaN
ArrDelay                                         NaN
ArrDelayMinutes                                  NaN
ArrDel15                                         NaN
ArrivalDelayGroups                               NaN
ArrTimeBlk                                 2300-2359
Cancelled                                      False
CancellationCode                                 NaN
Diverted                                       False
CRSElapsedTime                                 157.0
ActualElapsedTime                                NaN
AirTime                                          NaN
Flights                                          1.0
Distance                                       896.0
DistanceGroup                                      4
CarrierDelay                                     NaN
WeatherDelay                                     NaN
NASDelay                                         NaN
SecurityDelay                                    NaN
LateAircraftDelay                                NaN
FirstDepTime                                     NaN
TotalAddGTime                                    NaN
LongestAddGTime                                  NaN
DivAirportLandings                               NaN
DivReachedDest                                 False
DivActualElapsedTime                             NaN
DivArrDelay                                      NaN
DivDistance                                      NaN
Div1Airport                                      PHL
Div1AirportID                                14100.0
Div1AirportSeqID                           1410002.0
Div1WheelsOn                                  2400.0
Div1TotalGTime                                  12.0
Div1LongestGTime                                12.0
Div1WheelsOff                                    NaN
Div1TailNum                                      NaN
Div2Airport                                      NaN
Div2AirportID                                    NaN
Div2AirportSeqID                                 NaN
Div2WheelsOn                                     NaN
Div2TotalGTime                                   NaN
Div2LongestGTime                                 NaN
Div2WheelsOff                                    NaN
Div2TailNum                                      NaN
Div3Airport                                      NaN
Div3AirportID                                    NaN
Div3AirportSeqID                                 NaN
Div3WheelsOn                                     NaN
Div3TotalGTime                                   NaN
Div3LongestGTime                                 NaN
Div3WheelsOff                                    NaN
Div3TailNum                                      NaN
Div4Airport                                      NaN
Div4AirportID                                    NaN
Div4AirportSeqID                                 NaN
Div4WheelsOn                                     NaN
Div4TotalGTime                                   NaN
Div4LongestGTime                                 NaN
Div4WheelsOff                                    NaN
Div4TailNum                                      NaN
Div5Airport                                      NaN
Div5AirportID                                    NaN
Div5AirportSeqID                                 NaN
Div5WheelsOn                                     NaN
Div5TotalGTime                                   NaN
Div5LongestGTime                                 NaN
Div5WheelsOff                                    NaN
Div5TailNum                                      NaN
Unnamed: 109                                     NaN

In [46]:
input_file_name = 'data/processed/processed_2014_1.pickle'
print(input_file_name)
with open(input_file_name, 'rb') as in_file:
    f_pckl = (pickle.load(in_file))

data/processed/processed_2014_1.pickle

In [47]:
flight_num = f_pckl['Flight_Number_Reporting_Airline'] == 1641
airline = f_pckl['Reporting_Airline'] == 'DL'
origin = f_pckl['Origin'] == 'SAT'
dest = f_pckl['Dest'] == 'ATL'
date = f_pckl['CRSDepDT'] == '2014-01-06 11:02:00'

filter = flight_num & airline & origin & dest & date
with pd.option_context('display.max_rows', 112, 'display.width', 500):
    print(f_pckl.loc[filter].T)

                                                     35061
Reporting_Airline                                       DL
Flight_Number_Reporting_Airline                       1641
Origin                                                 SAT
Dest                                                   ATL
DepDelay                                              10.0
DepartureDelayGroups                                     0
DepTimeBlk                                       1100-1159
ArrDelay                                               NaN
ArrivalDelayGroups                                     NaN
ArrTimeBlk                                       1400-1459
Cancelled                                            False
CancellationCode                                       NaN
Diverted                                              True
CRSElapsedTime                                       133.0
ActualElapsedTime                                   1403.0
AirTime                                                NaN
CarrierDelay                                           NaN
WeatherDelay                                           NaN
NASDelay                                               NaN
SecurityDelay                                          NaN
LateAircraftDelay                                      NaN
DivReachedDest                                        True
DivActualElapsedTime                                1403.0
DivArrDelay                                         1280.0
CRSDepDT                               2014-01-06 11:02:00
CRSArrDT                               2014-01-06 14:15:00
DepDT                                  2014-01-06 11:12:00
ArrDT                                  2014-01-06 11:35:00
CRSDep_UTC                       2014-01-06 17:02:00+00:00
CRSArr_UTC                       2014-01-06 19:15:00+00:00
ActDep_UTC                       2014-01-06 17:12:00+00:00
ActArr_UTC                       2014-01-06 16:35:00+00:00
UTCElapsedTime_CRS                                   133.0
UTCElapsedTime_Act                                   -37.0
diff_CRS                                               0.0
diff_Act                                           -1440.0